.carousel-parent{
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    height: 75vh;

}

.carousel-parent img{
    height: 100%;
    width: auto;
}

.img-row{
    display: flex;
}

.left-slider{
    position: absolute;
    cursor: pointer;
    left: 3%;
    top: 50%;
}

.right-slider{
    position: absolute;
    cursor: pointer;
    right: 3%;
    top: 50%;
}

.banner-text{
    position: absolute;
    top: 50%;
    right: 50%;
    color: white;
    padding-left: 1.5em;
}



