.carousel-parent{
    position: relative;
}

.img-row{
    display: flex;
}

.left-slider{
    position: absolute;
    cursor: pointer;
    left: 3%;
    top: 50%;
}

.right-slider{
    position: absolute;
    cursor: pointer;
    right: 3%;
    top: 50%;
}
