.carousel-parent{
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;

}



.carousel-parent img{
    height: 100%;
    width: auto;
}

.carousel-parent{
    filter: brightness(80%);
}



.img-row{
    display: flex;
}



.banner-text{
    position: absolute;
    top: 50%;
    right: 50%;
    color: white;
    padding-left: 1.5em;
}



.home-slider{
    position: relative;
}

.carousel-footer-parent{
    display: flex;
}


.carousel-footer{
    border-top: 1px solid white;
    height: 15vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}


.under-carousel{
    position: absolute;
    top: 84.49%;
    width: 100%;
}

.under-carousel-text{
    padding-left: 2em;
    align-items: center;
}

.footer-1:hover{
    background-image: url('../imgs/galery5.jpg');    
    filter: brightness(80%);

}

.footer-2:hover{
    background-image: url('../imgs/gal4.jpg');   
    filter: brightness(80%);

}


.footer-3:hover{
    background-image: url('../imgs/galery1.jpg'); 
    filter: brightness(80%);
   
}



.nav-bar-front{
    position: absolute;
    top: 0%;
    width: 100%;
}


@media(max-width: 800px){
    .carousel-footer-parent{
        display: inline;
    }

    .under-carousel{
        position: relative;
    }
}