nav{
    /* background-image: url('./imgs/navBanner.jpg'); */
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid white;
    height: 15vh;
    align-items: center;
}

.nav-items{
    flex: 8;
    display: flex;
    justify-content: space-between;
}

.nav-links{
    display: flex;
}

.nav-links > li{
    margin-right: 1em;
    display: flex;
    flex: 10
}

.log-nav{
    flex:2
}

.nav-btn{
    display: flex;
    justify-content: end;
}



.nav-toggle{
    display: flex;
    height: 100%;
    flex: 1;
    border-left: 1px white solid;
    align-items: center;
    justify-content: end;

}

@media(max-width: 978px){
    .nav-links{
        display: none;
    }
}


@media(max-width: 800px){
    .nav-links{
        display: none;
    }

    .lease-text{
        display: none;
    }

    .nav-toggle{
        border: none;
    }
    .nav-only{
        background-image: none;

        background-color: #2f2e3d;
    }
}

/* modal styles */
.nav-modal-flex{
    height: 85vh;
    background-color: #2f2e3d;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}



.modal-text > li{
    font-size: 30px;
    text-align: center;
}

.modal-text > li:hover{
    color:  #7cdc66
}


.nav-modal{
    overflow: hidden;
    display: none;
}

