.contact-form{
    background-color: #f7f7f7;
    padding-top: 2.5em;
    padding-bottom: 2em;
}

.form-row{
    position: relative;
    flex: 1;
    padding-bottom: 1em;
}

.input-label{
    position: absolute;
    top: 15%;
    left: 5%;
}

.form-input{
    border-radius: 0px;
    border: 1px solid #c5c5c5;
    height: 3em;
    width: 100%;
    background-color: white;
    padding-left: 20px;
}

.dropdown{
    padding-left: 10px;
    color: rgb(95, 95, 95);

}

.large-area{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.dropdown>option{
    color: rgb(95, 95, 95);
}

.form-row>label{
    color: rgb(95, 95, 95);

}

.form-input:focus{
    border: 1px solid #83d4b6;
}


textarea:focus{
    border: 1px solid #83d4b6;
}

textarea{
    height: 15em;
}