.small-images{
    padding-left: 0;
    display: flex;
    flex-wrap: row nowrap;
    height: auto;
    overflow: hidden;
    width: auto;
}

img{ 
    max-height: 200px;
    width: 100%;
}

li{
    list-style-type: none;
    flex: 1;

}

